# To install this and get nice .mid diffs, run:
#   git config --local include.path ../.gitconfig

[core]
  attributesfile = .gitattributes
[diff "midi"]
  textconv = onyx git-midi-text
  cachetextconv = true
  xfuncname = "^\\S[^\\n]*\\{$"
