<!DOCTYPE html>
<html>
<head>
  <title>Onyxite's Customs</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<div class="onyx-intro">
  <h1>Onyxite's Customs</h1>
  <p>Custom songs created for use in Harmonix's Rock Band 3 and similar games.</p>
  <p>
    This site is not entirely finished yet.
    See also <a href="http://customscreators.com/index.php?/topic/14398-onyxites-customs">my thread at the C3 Forums</a>.
  </p>
</div>

<div class="onyx-artists">
  {{#artists}}
    <div class="onyx-artist">
      <h2 class="onyx-artist-header">{{ artist }}</h2>
      {{#albums}}
        <div class="onyx-album">
          <div class="onyx-album-art-div">
            <img class="onyx-album-art" src="{{ art }}" alt="album cover">
          </div>
          <div class="onyx-album-songs-div">
            <h4 class="onyx-album-header">{{ album }} ({{ year }})</h4>
            <ul class="onyx-album-songs">
              {{#songs}}
                <li class="onyx-song">
                  <h3 class="onyx-song-header">
                    <span class="onyx-song-header-inner">{{ title }}</span>
                  </h3>
                  {{#comments}}
                    {{{ . }}}
                  {{/comments}}
                  <ul>
                    {{#targets}}
                      <li>
                        <code>{{ name }}</code>
                        (<a href="{{ url }}">download</a>)
                      </li>
                    {{/targets}}
                  </ul>
                </li>
              {{/songs}}
            </ul>
          </div>
        </div>
      {{/albums}}
    </div>
  {{/artists}}
</div>

</body>
</html>
